{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}

<a href ="https://wikiway.com/dostoprimechatelnosti/zamki-kreposti/" target="_blank"> <img src="{% static 'app/content/logo1.jpg' %}" alt="Logo 1"/></a></br>
<a href ="http://snovadoma.ru/castles/Castle/" target="_blank"> <img src="{% static 'app/content/logo2.jpg' %}" alt="Logo 2"/></a></br>
<a href ="https://allcastle.info/castle" target="_blank"> <img src="{% static 'app/content/logo3.jpg' %}" alt="Logo 3"/></a></br>
{% endblock %}